
{% extends 'base.html' %} {% load static %} {% block content %}
<main class="container d-flex flex-column mt-5">
  <form method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <div class="d-flex w-100">
      <!-- left image side -->
      <div class="d-flex flex-column col-6">
        <div class="d-flex flex-column mb-2">
          <label for="id_nombre">Nombre:</label
          ><input
            class="form-control"
            type="text"
            name="nombre"
            maxlength="100"
            required=""
            id="id_nombre"
          />
        </div>
        <div class="d-flex flex-column mb-2">
          <label for="id_apellidos">Apellidos:</label
          ><input
            class="form-control"
            type="text"
            name="apellidos"
            maxlength="150"
            required=""
            id="id_apellidos"
          />
        </div>
        <div class="d-flex flex-column mb-2">
          <label for="id_direccion">Direccion:</label
          ><input
            class="form-control"
            type="text"
            name="direccion"
            maxlength="300"
            required=""
            id="id_direccion"
          />
        </div>
        <div class="d-flex flex-column mb-2">
          <label for="id_municipio">Municipio:</label
          ><input
            class="form-control"
            type="text"
            name="municipio"
            maxlength="100"
            required=""
            id="id_municipio"
          />
        </div>
        <div class="d-flex flex-column mb-2">
          <label for="id_provincia">Provincia:</label
          ><input
            class="form-control"
            type="text"
            name="provincia"
            maxlength="100"
            required=""
            id="id_provincia"
          />
        </div>
        <div class="d-flex flex-column mb-2">
          <label for="id_cod_postal">Cod postal:</label
          ><input
            class="form-control"
            type="text"
            name="cod_postal"
            maxlength="20"
            required=""
            id="id_cod_postal"
          />
        </div>
      </div>
      <!-- image side -->
      <div class="col-6 d-flex flex-column align-items-center">
        <label for="id_img">Img:</label>
        <img
          style="width: 400px; height: 400px"
          id="imagenPrevisualizacion"
        />
        <input type="file" name="img" accept="image/*" id="id_img" />
      </div>
    </div>

    <!-- below image & specifications -->

    <div>
      <div class="d-flex flex-column mb-2">
        <label class="w-100" for="id_medico">Medico:</label
        ><select
          class="w-100 form-select"
          name="medico"
          required=""
          id="id_medico"
        >
          <option value="" selected="">---------</option>
          {% for i in medicos %}
          <option value="{{i.id}}">{{i.usuario.first_name}} {{i.usuario.last_name}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="d-flex w-100">
        <div class="d-flex flex-column col-6">
          <div class="d-flex flex-column mb-2">
            <label for="id_sexo">Sexo:</label
            ><select
              class="form-select"
              name="sexo"
              required=""
              id="id_sexo"
            >
              <option value="" selected="">---------</option>
              {% for i in sexos %}
              <option value="{{i.id}}">{{i.sexo}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="d-flex flex-column mb-2">
            <label for="id_fecha_nacimiento">Fecha nacimiento:</label
            ><input
              class="form-control"
              type="text"
              name="fecha_nacimiento"
              required=""
              id="id_fecha_nacimiento"
            />
          </div>
          <div class="d-flex flex-column mb-2">
            <label for="id_lugar_nacimiento">Lugar nacimiento:</label
            ><input
              class="form-control"
              type="text"
              name="lugar_nacimiento"
              maxlength="100"
              required=""
              id="id_lugar_nacimiento"
            />
          </div>
          <div class="d-flex flex-column mb-2">
            <label for="id_correo">Correo:</label
            ><input
              class="form-control"
              type="email"
              name="correo"
              maxlength="254"
              id="id_correo"
            />
          </div>

          <div class="d-flex flex-column mb-2">
            <label for="id_estado">Estado:</label>
            <select
              class="form-select"
              name="estado"
              required=""
              id="id_estado"
            >
              <option value="" selected="">---------</option>
            {% for i in estados %}
              <option value="{{i.id}}">{{i.nombre}}</option>
            {% endfor %}
            </select>
          </div>
        </div>
        <div class="d-flex flex-column col-6">
          <div class="d-flex flex-column mb-2">
            <label for="id_ci">Ci:</label
            ><input
              class="form-control"
              type="text"
              name="ci"
              maxlength="11"
              required=""
              id="id_ci"
            />
          </div>
          <div class="d-flex flex-column mb-2">
            <label for="id_edad">Edad:</label
            ><input
              class="form-control"
              type="number"
              min="0"
              name="edad"
              required=""
              id="id_edad"
            />
          </div>

          <div class="d-flex flex-column mb-2">
            <label for="id_telf_movil">Telf movil:</label
            ><input
              class="form-control"
              type="text"
              name="telf_movil"
              maxlength="8"
              required=""
              id="id_telf_movil"
            />
          </div>
          <div class="d-flex flex-column mb-2">
            <label for="id_telf_fijo">Telf fijo:</label
            ><input
              class="form-control"
              type="text"
              name="telf_fijo"
              maxlength="8"
              required=""
              id="id_telf_fijo"
            />
          </div>
          <div class="d-flex flex-column mb-2">
            <label for="id_numero">Numero:</label
            ><input
              class="form-control"
              type="number"
              name="numero"
              min="1"
              required=""
              id="id_numero"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-column w-100">
      <label for="id_observaciones">Observaciones:</label
      ><textarea
        class="form-control"
        name="observaciones"
        cols="40"
        rows="5"
        required=""
        id="id_observaciones"
      ></textarea>
    </div>

    <button class="btn btn-primary my-3" type="submit">
      Guardar Paciente
    </button>
  </form>
</main>
{% endblock content %}
