{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class=" card card-default">
        <div class="card-header px-3 mb-3 mt-3 container">
            <h3 class="card-title">
            <i class="fas fa-search"></i>
                Listado de los Modelos
            </h3>
            </div>
        <div class="card card-body content-header mx-5 px-5 mt-5">
            <table id="myTable" class="display" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Numero</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>CI</th>
                        <th>Provincia</th>
                        <th>Municipio</th>
                        <th>Sexo</th>
                        <th>Edad</th>
                        <th style="width: 3cm">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in historias %}
                    <tr>
                        <td>{{i.numero}}</td>
                        <td>{{i.paciente.nombre}}</td>
                        <td>{{i.paciente.apellidos}}</td>
                        <td>{{i.paciente.ci}}</td>
                        <td>{{i.paciente.provincia}}</td>
                        <td>{{i.paciente.municipio}}</td>
                        <td>{{i.paciente.sexo}}</td>
                        <td>{{i.paciente.edad}}</td>
                        <td style="width: 200px;">
                            <a href="#" type="button" class="btn btn-success">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="#" type="button" class="btn btn-warning">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="#" type="button" class="btn btn-danger">
                                <i class="fas fa-procedures"></i>
                            </a>
                        </td>

                    {% endfor %}
                </tbody>
            </table>
                
            </div>
            <div class=" card-footer mt-3">
            <a href="{% url 'crear_paciente' %}" type="button" class="btn btn-primary">
                <i class="fas fa-plus"></i>
            Crear Historia Clinica
            </a>
            </div>
        </div>
    </div>
{% endblock %}